<template>
    <div class="img-upload">
        <transition-group name="img-wrapper" tag="div" class="row align-items-center">
            <div class="img-wrapper-item text-center" v-bind:class="wrapperClass" v-for="image in currentImages" v-bind:key="image.id">
                <img :src="image.data" class="img-fluid img-thumbnail">
                <div class="img-actions text-center">
                    <a class="badge badge-danger" @click="removeImage($event, image)"><i class="fa fa-times"></i></a>
                </div>
            </div>
            <div class="img-wrapper-item text-center" v-bind:class="wrapperClass" v-if="currentImages.length < max" key="new-img">
                <button class="btn btn-secondary" @click="selectFiles($event)"><i class="fa fa-picture-o"></i><br>Add image</button>
            </div>
        </transition-group>
        <div class="progress" v-if="progress > 0 && progress < 100">
            <div class="progress-bar" role="progressbar" :style="'width: ' + progress + '%;'">{{ progress }}%</div>
        </div>
        <transition name="fade">
            <div class="alert alert-danger" role="alert" v-if="lastError" v-html="lastError">
            </div>
        </transition>
        <input ref="fileInput" type="file" v-on:change="onFileChange" class="hidden-xs-up" accept="image/jpeg, image/png" multiple/>
    </div>
</template>

<script>
    export default {
        name: 'ImageUpload',

        props: {
            id: {
                type: String,
                required: true
            },
            max: {
                type: Number,
                required: false,
                default: 1
            },
            maxSize: {
                type: Number,
                required: false,
                default: 2097152
            },
            wrapperClass: {
                type: String,
                required: false,
                default: 'col-sm-2'
            },
            images: {
                type: Object,
                required: false,
                default: () => {
                    return {};
                }
            }
        },

        data() {
            return {
                currentImages: [],
                progress: 0,
                lastError: ''
            }
        },

        created() {
            $.each(this.images, (id, data) => {
                var img = {
                    id: id,
                    data: data.data,
                    type: data.type
                };

                this.currentImages.push(img);
            });
        },

        methods: {
            selectFiles(e) {
                e.preventDefault();

                this.$refs.fileInput.click();
            },

            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;

                if (!files.length) {
                    return;
                }

                if (files.length > (this.max - this.currentImages.length)) {
                    this.showError('You can only upload ' + (this.max - this.currentImages.length) + ' more files.');
                    return;
                }

                this.upload(files);

                e.target.value = null;
            },

            removeImage(e, image) {
                e.preventDefault();

                axios.delete('/int/image-upload/' + this.id + '?id=' + image.id + '&type=' + image.type).then(response => {
                    this.currentImages = this.currentImages.filter(item => {
                        return image.id != item.id;
                    });
                });
            },

            upload(files) {
                var newImages = [];
                var formData = new FormData();

                $.each(files, (index, el) => {
                    if (el.size > this.maxSize) {
                        this.showError('File <b>' + el.name + '</b> is too big and was skipped.');
                    } else {
                        var img = {
                            id: _.uniqueId(this.id + '-') + '-' + el.name,
                            data: URL.createObjectURL(el),
                            type: 'temp'
                        };

                        formData.append('images[' + img.id + ']', el);

                        newImages.push(img);
                    }
                });

                if (newImages.length > 0) {
                    axios.post('/int/image-upload', formData, {
                        onUploadProgress: progress => {
                            this.progress = Math.round(100 / progress.total * progress.loaded);
                        }
                    }).then(response => {
                        this.currentImages = this.currentImages.concat(newImages);
                    }).catch(error => {
                        this.showError(error.response.statusText);
                    });
                }
            },

            showError(msg) {
                this.lastError += msg + '<br>';

                setTimeout(() => {
                    this.lastError = '';
                }, 5000);
            }
        }
    }
</script>

<style>
    .img-upload .img-wrapper-item {
        transition: all 0.5s;
        margin-bottom: 20px;
    }

    .img-upload .img-wrapper-item > .img-actions {
        position: absolute;
        top: 0;
        right: 5px;
        margin-top: -10px;
        color: #fff;
        display: none;
    }

    .img-upload .img-wrapper-item:hover > .img-actions {
        display: inline-block;
    }

    .img-upload .img-wrapper-enter, .img-upload .img-wrapper-leave-to {
        opacity: 0;
        transform: scale(0);
    }

    .img-upload .progress {
        margin-bottom: 20px;
    }

    .img-upload .alert {
        transition: all .5s;
    }

    .img-upload .fade-enter, .img-upload .fade-leave-to {
        opacity: 0;
        transform: scale(0);
    }
</style>
